<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static '/accounts/signup-style.css' %}">
    <title>Sing up - beVegan</title>
</head>
<body>
<div class="container right-panel-active" id="container">
	<div class="form-container sign-up-container">
		<form class="register_form" method="post" action={% url 'register' %}>
			{% csrf_token %}
			<h1>Register</h1>
			<div class="social-container">
                <img class="social" src="{% static '/accounts/logovegan.png' %}">
			</div>
			<div class="d-flex flex-column pb-3">
			{% comment %} <img class="img-fluid mx-auto d-block" src="{% static 'codingwithmitch/logo_250_250_transparent.png' %}" alt="codingwithmitch logo" width="72" height="72"> {% endcomment %}
			</div>
			{% comment %} {{ registration_form }} {% endcomment %}
			{% for field in registration_form %}
			<div class="field_div">{{field}} <label for="{{field.label}}">{{field.label}}</label></div>
			{% endfor %}
			
			{% for error in field.errors %}
			<p style="color: red">{{ error }}</p>
			{% endfor %}
			{% if registration_form.non_field_errors %}
				<div style="color: red">
					<p>{{registration_form.non_field_errors}}</p>
				</div>
			{% endif %}
			{% if error %}
				{{ form }}
				<div style="color: red">
					<p>{{ error }}</p>
				</div>
			{% endif %}
			<button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
	
		</form>
	</div>
	<div class="overlay-container overlay overlay-panel">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn"><a href="{% url 'login' %}">Sign In</a></button>
	</div>
</div>
</body>
</html>