<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/3682b977b2.js" crossorigin="anonymous"></script>
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <title>Document</title>
</head>
<body>

<div class="container">
    <h1> ALL PRODUCTS </h1>
    <table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.category}}</td>
                <td>{{product.brand}}</td>
                <th>
                    {% if product.image.url != null %}
                        <img src="{{product.image.url}}" alt="{{product.name}}" width="20%">
                    {% else %}
                        <img src="/media/images/product/generic-product.png" alt="image-generic" width="20%">
                    {% endif %}
                </th>
            </tr>
        {% endfor %}

    </tbody>
</table>
</div>

<script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>