<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <title>Document</title>
</head>
<body>

<div class="container">

<div class="card">
    <div class="card-header">Add request product</div>
    <div class="card-body">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for campo in formulario %}
            <div class="form-group" >
                <label for="{{campo.label}}">{{campo.label}}</label>
                    {{ campo }}
            </div>
            {% endfor %}
            <div class="row mt-3">
                <div class="col-12">
                    <input type="submit" value="Guardar" class="btn btn-success">
                    <a href="{% url 'all_products' %}" class="btn btn-secondary">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>
</div>


<script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>