{% load static %}
<nav class="nav_container">
    <ul class="nav_list">
        <li class="nav_item" >
            <a href="/">Home</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav_item" >
            <a href="/products/add">Add new product</a>
        </li>
        <li class="nav_item" >
            <a href="/accounts/logout">Logout</a>
        </li>
        {% else %}
        <li class="nav_item" >
            <a href="/accounts/login">Login</a>
        </li>
        <li class="nav_item" >
            <a href="/accounts/register/">Register</a>
        </li>
        {% endif %}
    </ul>
    <div class="user_name">
        {% if user.is_authenticated %}
        <p>{{ username }} <span>(connected)</span> </p>
        {% endif %}
        <div class="img_container">
            <img class="img" src="{% static '/accounts/logovegan.png' %}">
        </div>
    </div>
</nav>